body-section {
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  height: 90vh;
  overflow: scroll;
  overflow-x: hidden;
}

.footer {
  position: absolute;
  padding: 0.4rem;
  background-color: rgb(54, 54, 54);
  width: 100%;
  left: 0px;
  bottom: 0px;
}
